body{
	border:1px solid transparent;
	background: #e6e6e6;
	height:110%;
}

#name {
  height:30px;
  max-width:90%;
  border-bottom: 1px solid black;
	font-size: 24px; font-weight: bold; font-family: Cursive,Verdana,serif;
  position:static;
  
}


#cell {
  font-size: 16px ;font-weight: bold; font-family: Cursive,Verdana,serif;
}

#email {
  font-size: 16px ;font-weight: bold; font-family: Cursive,Verdana,serif;
}

img {
  border: 1px solid black;
  height:400px;
  width:300px;
  position: absolute;
  margin-left:80%;
  margin-top:-130px;
  -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
  
  
}

#para {
  border: 1px solid transparent;
  height:100px;
  width:600px;
  text-align: left;
  text-align: justify;
}

#attributes{
  border:5px solid transparent;
  margin-left:100px;
  height:auto;
  width:1500px;
  
  
}

h2 {
  /*position: relative;*/
  border-right:1px solid grey;
	float: left;
  clear:both;
	width: 10%;
	height: 120px;

	margin-bottom: 10px;
  
}
.work{
  /*position: relative;*/
  border: 1px solid transparent;
	float: right;
  
  height:auto;
	width: 500px;

	margin-bottom: 10px;
  margin-top: 7px;
  
  margin-right:800px;
}

.bold {
  font-weight: bold;
}


  
  

